:global(html),
:global(body),
:global(main),
#game-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gameCanvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}
